{% extends 'student/base_student.html' %}

{% block title %}Student Dashboard{% endblock %}

{% block content %}
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card mb-4">
          <div class="card-header">
            <h5 class="card-title">Student Profile</h5>
          </div>
          <div class="card-body">
            <div class="row">
              {% if student_profile.profile_picture %}
              <div class="col-md-4">
                <img src="{{ student_profile.profile_picture.url }}" alt="Profile Picture" class="img-thumbnail rounded-circle" style="max-width: 150px;">
              </div>
              {% endif %}
              <div class="col-md-8">
                <div class="row">
                  <div class="col-md-4"><strong>Name:</strong></div>
                  <div class="col-md-8">{{ student_profile.user.get_full_name }}</div>
                </div>
                <div class="row">
                  <div class="col-md-4"><strong>Email:</strong></div>
                  <div class="col-md-8">{{ student_profile.user.email }}</div>
                </div>
                <div class="row">
                  <div class="col-md-4"><strong>Contact Number:</strong></div>
                  <div class="col-md-8">{{ student_profile.contact_number }}</div>
                </div>
                <div class="row">
                  <div class="col-md-4"><strong>Institute:</strong></div>
                  <div class="col-md-8">{{ student_profile.institute.institute_name }}</div>
                </div>
                <div class="row">
                  <div class="col-md-4"><strong>Degree:</strong></div>
                  <div class="col-md-8">{{ student_profile.degree }}</div>
                </div>
                <div class="row">
                  <div class="col-md-4"><strong>Branch Specialization:</strong></div>
                  <div class="col-md-8">{{ student_profile.branch_specialization }}</div>
                </div>
                <div class="row">
                  <div class="col-md-4"><strong>Year of Passout:</strong></div>
                  <div class="col-md-8">{{ student_profile.year_of_passout }}</div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card mb-4">
          <div class="card-header">
            <h5 class="card-title">Skills</h5>
          </div>
          <div class="card-body">
            <ul>
              {% for skill in skills %}
              <li>{{ skill.skill }}</li>
              {% endfor %}
            </ul>
          </div>
        </div>

        <div class="card mb-4">
          <div class="card-header">
            <h5 class="card-title">Job Applications</h5>
          </div>
          <div class="card-body">
            <table class="table table-bordered">
              <thead class="thead-light">
                <tr>
                  <th>Job Title</th>
                  <th>Company</th>
                  <th>Application Date</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody>
                {% for application in job_applications %}
                <tr>
                  <td>{{ application.job_opening.title }}</td>
                  <td>{{ application.job_opening.company }}</td>
                  <td>{{ application.application_date }}</td>
                  <td>{{ application.get_status_display }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
