<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Dashboard{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://adminlte.io/themes/v3/dist/css/adminlte.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    {% block extra_css %}{% endblock %}
</head>

<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#"><i class="fas fa-bars"></i></a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a href="{% url 'institute_dashboard' %}" class="nav-link">Home</a>
                </li>
            </ul>
        </nav>

        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <a href="{% url 'institute_dashboard' %}" class="brand-link">
                <img src="https://adminlte.io/themes/v3/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
                <span class="brand-text font-weight-light">{% block brand %}Dashboard{% endblock %}</span>
            </a>

            <div class="sidebar">
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">
                        <img src="https://adminlte.io/themes/v3/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
                    </div>
                    <div class="info">
                        <a href="#" class="d-block">{% block user_name %}{{request.user.first_name }}{% endblock %}</a>
                    </div>
                </div>

                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        {% block sidebar %}
                        <li class="nav-item">
                            <a href="{% url 'institute_dashboard' %}" class="nav-link">
                                <i class="nav-icon fas fa-tachometer-alt"></i>
                                <p>
                                    Dashboard
                                </p>
                            </a>
                        </li>
                         <li class="nav-item">
                            <a href="{% url 'view_institute_profile' %}" class="nav-link">
                                <i class="nav-icon fas fa-tachometer-alt"></i>
                                <p>
                                    View Institute Profile
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'bulk_student_upload' %}" class="nav-link">
                                <i class="nav-icon fas fa-users"></i>
                                <p>
                                    Bulk Upload
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'student_details' %}" class="nav-link">
                                <i class="nav-icon fas fa-user"></i>
                                <p>
                                    Student Details
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-envelope"></i>
                                <p>
                                    Requests
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
    <a href="{% url 'post_job' %}" class="nav-link">
        <i class="nav-icon fas fa-briefcase"></i>
        <p>
            Post Jobs
        </p>
    </a>
</li>
<li class="nav-item">
    <a href="{% url 'institute_job_data' %}" class="nav-link">
        <i class="nav-icon fas fa-file-alt"></i>
        <p>
            Job Postings Details
        </p>
    </a>
</li>
<li class="nav-item">
    <a href="{% url 'institute_student_off_campus_jobs_status' %}" class="nav-link">
        <i class="nav-icon fas fa-file-alt"></i>
        <p>
            ATS OFF Campus
        </p>
    </a>
</li>


                         <li class="nav-item">
                        <a href="{% url 'logout' %}" class="nav-link">
                            <i class="nav-icon fas fa-sign-out-alt"></i>
                            <p>Logout</p>
                            </a>
                        </li>
                        {% endblock %}
                    </ul>
                </nav>
            </div>
        </aside>

        <div class="content-wrapper">
            <div class="content-header"></div>

            <section class="content">
                <div class="container-fluid">
                    {% block content %}{% endblock %}
                </div>
            </section>
        </div>

        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
        <script src="https://adminlte.io/themes/v3/dist/js/adminlte.min.js"></script>
        {% block extra_js %}{% endblock %}
    </div>
</body>

</html>
