<!-- institute_details_view.html -->

{% extends 'institute/base_institute.html' %}

{% block title %}Institute Profile{% endblock %}
{% block brand %}Institute Dashboard{% endblock %}
{% block user_name %}{{ institute.institute_name }}{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                {% if institute.logo %}
                    <img src="{{ institute.logo.url }}" class="card-img-top" alt="Institute Logo">
                {% else %}
                    <img src="https://via.placeholder.com/150" class="card-img-top" alt="No Institute Logo">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ institute.institute_name }}</h5>
                    <p class="card-text">{{ institute.location }}</p>
                    <p class="card-text">{{ institute.contact_number }}</p>
                    <a href="{% url 'edit_institute_profile' %}" class="btn btn-sm btn-info">
                        <i class="fas fa-edit"></i> Edit
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <h3>Institute Details</h3>
            <table class="table table-striped">
                <tr>
                    <th>Email</th>
                    <td>{{ institute.user.email }}</td>
                </tr>
                <tr>
                    <th>Website</th>
                    <td>{{ institute.website }}</td>
                </tr>
                <tr>
                    <th>State</th>
                    <td>{{ institute.state }}</td>
                </tr>
                <tr>
                    <th>Country</th>
                    <td>{{ institute.country }}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
{% endblock %}
