{% extends 'institute/base_institute.html' %}

{% block title %}Institute Requests{% endblock %}
{% block brand %}Institute Dashboard{% endblock %}
{% block user_name %}{{ institute.institute_name }}{% endblock %}
{% block header %}Requests{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                 
                    <table id="requestsTable" class="table table-striped">
                        <thead>
                            <tr>
                                <th>Recruiter</th>
                                <th>Status</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            {% for request in requests %}
                                <tr>
                                    <td>{{ request.sender.recruiter_profile.organization_name }}</td>
                                    <td>{{ request.get_status_display }}</td>
                                   
                                </tr>
                                
                            {% empty %}
                                <tr>
                                    <td colspan="3">No requests found.</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}
