{% extends 'recruiter/base_recruiter.html' %}
{% block title %}ATS Search{% endblock %}
{% block brand %}ATS Search{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="card mt-3">
        <div class="card-body">
            <h2>Applicant Tracking System (ATS) Search</h2>
            <form action="{% url 'ats_search' %}" method="POST">
                {% csrf_token %}
                <div class="input-group mb-3">
                    <input type="text" id="keywords" name="keywords" class="form-control" placeholder="Enter Skills (comma separated)" required>
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% if matching_students %}
    <div class="container-fluid">
        <div class="card mt-3">
            <div class="card-body">
                <hr>
                <h3>Matching Students for Keywords: "{{ keywords }}"</h3>
                <div class="row">
                    {% for student in matching_students %}
                        <div class="col-md-12">
                            <div class="card mb-3">
                                <div class="card-body d-flex align-items-center">
                                    <div class="mr-3">
                                        <img src="{{ student.profile_picture.url }}" alt="Profile Picture" class="rounded-circle" style="width: 60px; height: 60px;">
                                    </div>
                                    <div>
                                        <h5 class="card-title">{{ student.user.username }} | {{ student.user.first_name }} {{ student.user.last_name }} Contact Number: {{ student.contact_number }}</h5>
                                        <p class="card-text text-right">Resume: <a href="{{ student.resume.url }}" target="_blank">View Resume</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <p>No students found matching the keywords "{{ keywords }}".</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
