{% extends 'recruiter/base_recruiter.html' %}

{% block title %}Recruiter Dashboard{% endblock %}
{% block brand %}Recruiter Dashboard{% endblock %}


{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-12">
           
            <div class="row">
                {% for institute in institutes %}
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        {% if institute.logo %}
                        <img src="{{ institute.logo.url }}" class="card-img-top" alt="{{ institute.institute_name }} Logo">
                        {% else %}
                        <img src="https://via.placeholder.com/150" class="card-img-top" alt="No Institute Logo">
                        {% endif %}
                        <div class="card-body text-center">
                            <h5 class="card-text text-center">{{ institute.institute_name }}</h5>
                            <p class="card-text">{{ institute.location }}</p>
                            <form action="{% url 'send_request' institute.id %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-primary">
                                    <i class="fas fa-paper-plane"></i> &nbsp;Send Request
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
