<header class="bg-dark text-white py-3">
    <div class="container d-flex justify-content-between align-items-center">
        <h1 class="h3">
            <a href="{% url 'index' %}" class="text-white text-decoration-none">PMS</a>
        </h1>
        <nav>
            <ul class="nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="#" id="loginDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        User Login
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="loginDropdown">
                        <li><a class="dropdown-item" href="{% url 'login' %}">Login</a></li>
                        
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="#" id="signupDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        User Signup
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="signupDropdown">
                        <li><a class="dropdown-item" href="{% url 'signup' %}">Recruiter/Institute Signup</a></li>
                       
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</header>
